netflix-project/00-data/combined_data_1.txt
netflix-project/00-data/combined_data_2.txt
netflix-project/00-data/combined_data_3.txt
netflix-project/00-data/combined_data_4.txt
secrets.sh
archive
.env
__pycache__
.DS_Store
python.config